services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus:/etc/prometheus:ro
      # chmod o+w ./data or chown 65534:65534 ./data or Prometheus can't write into volume
      - ./data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - promnet
    restart: unless-stopped

networks:
  promnet:
    name: promnet
