services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    domainname: prom.lab
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      # TSDB retention & storage
      - --storage.tsdb.path=/prometheus
      # Match your capacity/SLOs
      - --storage.tsdb.retention.time=15d
      # In case something goes wrong
      - --storage.tsdb.retention.size=1GB
      # Enable WAL compression (default in recent versions)
      - --storage.tsdb.wal-compression
      - --web.enable-lifecycle
      # Web/TLS/mTLS/auth (if needed)
      #- --web.config.file=/etc/prometheus/web.yml
      # Query/engine hardening
      # Hard query limits on the process flags rather than the YAML to stop a single user/dash
      # from taking down the server.
      # Tune to CPU/heap
      - --query.max-concurrency=40
      - --query.timeout=2m
      # Guardrails against expensive queries
      - --query.max-samples=50e6
    volumes:
      - ./prometheus:/etc/prometheus:ro
      # chmod o+w ./data or chown 65534:65534 ./data or Prometheus can't write into volume
      - ./data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - promnet
    restart: unless-stopped

  blackbox:
    image: prom/blackbox-exporter:latest
    container_name: blackbox
    hostname: blackbox
    domainname: prom.lab
    command:
      - --config.file=/etc/blackbox_exporter/config.yml
    volumes:
      - ./blackbox:/etc/blackbox_exporter:ro
    ports:
      - "9115:9115"
    networks:
      - promnet
    restart: unless-stopped

networks:
  promnet:
    name: promnet

